/*selector {
	Property: value;
}*/

body{
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}
h2 {
	color: red;
	text-align: center;
	border: 5px solid purple;
	cursor: pointer;
}

p{
	line-height: 20px;
	font-style: italic; 
	font-weight: bold;
	font-size: 150%;
	font-family: "Times New Roman", Georgia;

}

p {
	color: pink;
}

p{
	color: green;
}


li
{
	list-style: none;
	display: inline-block;
}